<h3 color="primary">Logged in as{{ currentUser}}</h3>
<h4>Posts</h4>
<button mat-fab color="accent" id="addButton" (click)="openNew()">
  <mat-icon>add</mat-icon>
</button>
<div *ngIf="!selectedApp">
  <table>
    <tr color="accent">
      <td>Name</td>
      <td>Title</td>
      <td>Photo</td>
      <td></td>
      <td></td>


    </tr>
    <tr *ngFor="let app of app" class="tableRows" (click)="selectedApp = app">
        <td>{{app.Name}}</td>
      <td>{{app.Title}}</td>
      <td>
        <a target='_blank' href='/assets/{{app.Photo}}.jpg' (click)="$event.stopPropagation()" id="click">{{app.Title}}</a>
      </td>
      <td *ngIf="app.Approval === 1">Approved</td>
      <td *ngIf="app.Approval === 0"> NotApproved</td>
      <td *ngIf="currentUser === 'Admin'">
        <mat-icon (click)="$event.stopPropagation();approve(app)" titlt="make Approve">checkmark</mat-icon>
      </td>
      <td *ngIf="currentUser !== 'Admin'">
        <mat-icon (click)="$event.stopPropagation();deleteApp(app)" titlt="delete">delete</mat-icon>
      </td>


    </tr>
  </table>
</div>
<div *ngIf="selectedApp">
    <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="selectedApp.Name">
      </mat-form-field><br>

  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="selectedApp.Title">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="selectedApp.Description">
  </mat-form-field><br>
  <input type="file" (change)="upload($event.target.files)" />

  <img id="img" src="/assets/{{selectedApp.Photo}}.jpg">

  <div align="end" id="close" >
      <button mat-button (click)="selectedApp = false">CLOSE</button>
      <button mat-button  matDialogClose (click)="SaveApplication()" > SAVE</button>
    </div>
</div>